body {
  margin: 0;
  font-family: 'Muli', 'Helvetica', 'Arial', sans-serif;
  background: #f5f5f5;
  line-height: 1.3em;
}

nav, .main-content {
  width: 960px;
  margin: auto;
}

.card {
  margin: 25px 20px;
  padding: 10px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  border-radius: 5px;
  paddin-top:5px;
  margin-top:10px;
}

.footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.footer a {
  color: #999;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.exemption-alert {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #f26c21;
  border-radius: 2px;
}
.exemption-alert .fa-exclamation {
  margin-right: 10px;
  color: #f26c21;
}

.image-result-Succeeded {
  color: green;
}

.image-result-Failed {
  color: red;
}

.severity-CRITICAL {
  color: #a11f4c;
}

.severity-HIGH {
  color: #ff4500;
}

.severity-MEDIUM {
  color: #f26c21;
}

.severity-LOW {
  color: #008000;
}

.severity-NOISSUES {
  color: #8BD2DC;
}

.severity-NODATA {
  color: #777777;
}

h1.image-name {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  height: 40px;
  line-height: 40px;
}

.warning-icon {
  color:red;
  font-size:12px;
  float:left;
  margin-top:4px;
  margin-right: 5px;
}

.noissues-icon {
  color:green;
  font-size:12px;
  float:left;
  margin-top:4px;
  margin-right: 5px;
}

.nodata-icon {
  color:gray;
  font-size:12px;
  float:left;
  margin-top:4px;
  margin-right: 5px;
}

.searchbox {
  width: 380px;
  height: 25px;
  border: solid 1px #ccc;
  border-radius: 20px;
  padding-left: 10px;
  color:#444;
  float:left;
}

.search-icon{
  float:left;
  display: revert;
  margin-left:-26px;
  margin-top:5px;
  color:#ccc;
}

.highlight {
  color:black;
  background-color: yellow;
}

.chart-title {
  text-align: center;
  font-size: 10px;
  margin-top: 5px;
}

svg > g > g:last-child { pointer-events: none }

.tabulator-col-title {
  text-align: center;
}
.tabulator-col[role=columnheader] {
  border-bottom: solid 2px #acc91e;
}

.tblr-nodata  { color: gray }
.tblr-error   { color: red }
.tblr-warning { color: orange }
.tblr-success { color: green }

.context-menu {
  position: absolute;
  padding:2px;
  border: solid 2px #ccc;
  background-color: #eee;
  border-radius: 2px;
  width: 150px;
  min-height: 40px;
}

.context-menu a {
  font-size: 10px;
  text-decoration: none;
}

.circular-chart {
  display: block;
  margin: 5px auto;
  max-width: 80%;
  max-height: 100px;
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #008800;     /* 4CC790 */;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.info-tab {
  flex:1;
  padding-left:10px;
  flex-grow: 2;
  flex-direction:column;
  display:flex;
  align-content: center;
  justify-content: center;
}