<!doctype html>
<html>

<head>
  {{ template "head" . }}
  <link rel="stylesheet" href="static/css/check-details.css">
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      {{ template "navbar" . }}

      <div class="main-content">
        <div class="card details">
          {{ template "details" . }}
        </div>
      </div>

    </div>

    {{ template "footer" . }}
  </div>
</body>
</html>
