<!doctype html>
<html>

<head>
    <script>
        window.auditData = {{ .JSON }};
    </script>
    {{ template "head" . }}
    <link rel="stylesheet" href="static/css/scan-details.css">
    <link rel="stylesheet" href="static/css/tooltip.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="static/js/underscore.js"></script>
    <script type="text/javascript" src="static/js/overview.js"></script>
</head>

<body onload="pageLoaded()">
{{ template "navbar" }}

    <div class="main-content">
        <div class="card details">
            <h2>Container Images Overview</h2>
            <div class="segment" style="display: flex;flex-direction: row;">
                <div style="padding: 10px;" id="chart"></div>
                <div style="padding: 10px;display: flex;flex-direction: column;justify-content: center;">
                    <div>
                        This cluster uses <b>{{ (len .Results) }} unique container images</b>:
                    </div>
                    <ul>
                        {{ range $i, $group := .ImagesGroups }}
                            <li>
                                <i class="fas fa-arrow-right" style="color:#aaa;"></i>
                                <b class="severity-{{ $group.Title }}">{{ $group.Count }}</b> {{$group.Description}}
                            </li>
                        {{ end }}
                    </ul>
               </div>
            </div>
            <div class="segment">
                <div class="segment-toolbar">
                    <div style="float:right;">
                        Group By
                        <select id="group-by-dropdown" onchange="setListOfItemsByGroup()"></select>
                    </div>
                    <div style="float:left;">
                        <div>
                            <input type="search" class="searchbox" onkeyup="search(this)">
                            <i class="fas fa-search search-icon"></i>
                        </div>
                    </div>
                </div>
                <div style="margin-top:25px;padding:10px;">
                    <div id="results"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>