<!doctype html>
<html>

<head>
    {{ template "head" . }}
  <link rel="stylesheet" href="static/css/scan-details.css">
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      {{ template "navbar" }}

      <div class="main-content">
        <div class="card details">
      <div class="segment">
        <div style="border-bottom: solid 1px #ddd;background-color: #eee;">
            <h3 style="float:right;font-size:20px;margin-top:-10px;" class="image-result-{{ .ScanResult }}"> {{ .ScanResult }} </h3>
            <h1 class="image-name" style="margin-left: 15px;" >
                {{ .ImageTag }}
            </h1>
        </div>

            {{ if (eq .ScanResult "Failed") }}
              <h3> Image vulnerabilities scan failed</h3>
              <span> {{ .Description }} </span>
            {{ end }}

            {{ if (eq .ScanResult "NotFound") }}
              <h3> No Image vulnerabilities scan data</h3>
              <span>Image scanner might not support image OS or container registry</span>
              <span> {{ .Description }} </span>
            {{ end }}

            {{ if (eq .ScanResult "Succeeded") }}
                {{ range $tIndex, $target := .ScanTargets }}
                  <ul>
                    <li>
                      <input type="checkbox" id="target{{ $tIndex }}" checked/>
                      <label for="target{{ $tIndex }}">
                        Target: {{ $target.Name }}
                      </label>
                      <ul>
                          {{ range $gIndex, $element := $target.VulnerabilitiesGroups }}
                            <li>
                              <input type="checkbox" id="t{{ $tIndex }}g{{ $gIndex }}" checked/>
                              <label for="t{{ $tIndex }}g{{ $gIndex }}">
                                  {{ $element.Count }} issues with
                                <strong class="severity-{{ $element.Severity }}"> {{ $element.Severity }} </strong>
                                severity
                              </label>
                              <ul>
                                  {{ range $cveIndex, $cve := $element.CVEs }}
                                    <li>
                                      <input type="checkbox"
                                             id="t{{ $tIndex }}vg{{ $gIndex }}cve{{ $cveIndex }}"/>
                                      <label for="t{{ $tIndex }}vg{{ $gIndex }}cve{{ $cveIndex }}">
                                        <i>{{ $cve.Id }}</i> in <strong>{{ $cve.PackageName }}</strong>
                                        version {{ $cve.InstalledVersion }}
                                      </label>
                                      <ul>
                                        <li>
                                            <div class="cve-detail">
                                            {{ if gt (len $cve.Title) 0 }}
                                              <p><strong>Title:</strong> {{ $cve.Title }} </p>
                                            {{ end }}
                                            {{ if gt (len $cve.FixedVersion) 0 }}
                                                <p><strong>Remediation:</strong> Update package to {{ $cve.FixedVersion }} </p>
                                            {{ end }}

                                            <p> {{ $cve.Description }} </p>
                                            {{ if gt (len $cve.References) 0 }}
                                              <input type="checkbox"
                                                     id="t{{ $tIndex }}vg{{ $gIndex }}cve{{ $cveIndex }}ref"/>
                                              <label for="t{{ $tIndex }}vg{{ $gIndex }}cve{{ $cveIndex }}ref">
                                                <strong>References</strong>
                                              </label>
                                              <ul>
                                                  {{ range $cve.References }}
                                                    <li> &bull;
                                                        <a href="{{ . }}" target="_blank" style="text-decoration: none;">{{ . }}</a>
                                                    </li>
                                                  {{ end }}
                                              </ul>
                                            {{ end}}
                                            </div>
                                        </li>
                                      </ul>
                                    </li>
                                  {{ end }}
                              </ul>
                            </li>
                          {{ end }}
                      </ul>
                    </li>
                  </ul>
                {{ end }}
            {{ end }}
      </div>
        </div>
      </div>
    </div>

    {{ template "footer" . }}
  </div>
</body>
</html>
