<!doctype html>
<html>

<head>
  <script>
    window.polarisAuditData = {{ .JSON }};
  </script>
  {{ template "head" . }}
</head>

<body>
  <div id="page-container">
    <div id="content-wrap">
      {{ template "navbar" . }}
      <div class="main-content">
        {{ template "preamble" . }}
        {{ template "dashboard" . }}
      </div>
    </div>
    {{ template "footer" . }}
  </div>
</body>
</html>
