{{define "navbar"}}
  <div class="navbar">
    <div class="navbar-content">
      <a href="/">
        <img class="logo" src="static/images/polaris-logo.png" alt="Polaris" />
      </a>
      <div class="navbar-right">
      </div>
    </div>
  </div>
{{end}}
