<!doctype html>
<html>

<head>
  {{ template "head" . }}
</head>

<body >
  <div id="page-container">

    <div id="content-wrap">
      {{ template "navbar" . }}

      <div class="main-content flex items-center mx-auto m-10">
        <p class="font-sans text-xl tracking-tight ml-10">The page is not found</p>
      </div>

    </div>

    {{ template "footer" . }}
  </div>
</body>
</html>
