<!doctype html>
<html>

<head>
  {{ template "head" . }}
</head>

<body >
  {{ template "navbar" . }}
  <div class="main-content block items-center mx-auto">
    <p>The page is not found</p>
  </div>
</body>
</html>
